<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses and Ether Price</title>
</head>
<body>
    <h1>Expenses and Ether Price for Address: <%= address %></h1>
    <p>Total Expenses: <%= totalExpenses %> ETH</p>
    <p>Current Ether Price: <%= etherPrice %> INR</p>

    <a href="/">Go Back</a>

</body>
</html>

