<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Ethereum Price</title>
</head>
<body>
    <h1>Latest Ethereum Price</h1>

    <p>The latest Ethereum price is: <strong><%= etherPrice %> INR</strong></p>
    <p>Fetched on: <strong><%= timestamp %></strong></p>

    <a href="/">Go Back</a>
</body>
</html>
